.ccbtn {
  color: #fff !important;
}
.confirmationtext {
  font-weight: bolder;
}
.confirmationtext h1, .confirmationtext h2{
  color: #fff !important;
}

.foreignVisitorComponent {
  margin: 0;
  padding: 0;
}

.foreignVisitorComponent li,
.foreignVisitorComponent li > a,
.foreignVisitorComponent li > a:visited,
.foreignVisitorAnchorTag {
  color: black;
  text-decoration: none;
}
.foreignVisitorComponent li:hover,
.foreignVisitorComponent li:hover > a,
a.foreignVisitorAnchorTag:hover {
  color: blue;
  font-weight: bolder;
  text-decoration: underline;
}
